<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Log_code')}:</label>
        <div class="col-xs-12 col-sm-2">
            <input id="c-log_code" readonly="readonly" class="form-control" name="row[log_code]" type="text" value="{$row.log_code|htmlentities}">
        </div>
   
        <label class="control-label col-xs-12 col-sm-1">{:__('Log_type')}:</label>
        <div class="col-xs-12 col-sm-2">
            <input id="c-log_type" readonly="readonly" class="form-control" name="row[log_type]" type="text" value="{$row.log_type|htmlentities}">
        </div>
    
        <label class="control-label col-xs-12 col-sm-1">{:__('Log_date')}:</label>
        <div class="col-xs-12 col-sm-2">
            <input id="c-log_date" data-rule="required" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[log_date]" type="text" value="{:$row.log_date?datetime($row.log_date):''}">
        </div>
    </div>
    
   
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Log_user_name')}:</label>
        <div class="col-xs-12 col-sm-2">
        		<input id="c-log_user_id"  data-rule="required" class="form-control selectpage" data-source="user/user/index" data-field="name" data-primary-key="id" name="row[log_user_id]" type="text" value="{$row.log_user_id|htmlentities}">
        </div>
        <div class="col-xs-12 col-sm-2" hidden="hidden">
            <input id="c-log_user_name"  class="form-control" name="row[log_user_name]" type="text" value="{$row.log_user_name|htmlentities}">
        </div>
        <label class="control-label col-xs-12 col-sm-1">{:__('Log_address')}:</label>
        <div class="col-xs-12 col-sm-2">
            <input id="c-log_address"  class="form-control" name="row[log_address]" type="text" value="{$row.log_address|htmlentities}">
        </div>

        <label class="control-label col-xs-12 col-sm-1">{:__('Log_tel')}:</label>
        <div class="col-xs-12 col-sm-2">
            <input id="c-log_tel" class="form-control"  name="row[log_tel]" type="text" value="{$row.log_tel|htmlentities}">
        </div>
    </div>
    
    <div class="form-group">
    	  <label class="control-label col-xs-12 col-sm-2">{:__('Log_user_contact')}:</label>
        <div class="col-xs-12 col-sm-2">
        		<input id="c-log_user_contact"  data-rule="required" class="form-control"  name="row[log_user_contact]" type="text" value="{$row.log_user_contact|htmlentities}">
        </div>
        <label class="control-label col-xs-12 col-sm-1">{:__('Log_saleman')}:</label>
        <div class="col-xs-12 col-sm-2">
            <input id="c-log_saleman" data-rule="required" readonly="readonly" class="form-control"  name="row[log_saleman]" type="text" value="{$row.log_saleman|htmlentities}">
        </div>
        <label class="control-label col-xs-12 col-sm-1">{:__('Log_operator')}:</label>
        <div class="col-xs-12 col-sm-2">
            <input id="c-log_operator" data-rule="required" class="form-control selectpage" data-source="auth/admin/index" data-field="nickname" data-primary-key="nickname" name="row[log_operator]" type="text" value="{$row.log_operator|htmlentities}">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Log_remark')}:</label>
        <div class="col-xs-12 col-sm-8">
        		<textarea id="c-log_remark" class="form-control " rows="5" name="row[log_remark]" cols="50"></textarea>
        </div>
    </div>
    
    
<div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('整体派单')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
            <button type="button" class="btn btn-info btn-printing btn-embossed ">{:__('打印')}</button>
        </div>
    </div>   
    
    
    
</form>
		<div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="one">
                <div class="widget-body no-padding">
                    <div id="toolbar" class="toolbar">
                        <a href="javascript:;" class="btn btn-primary btn-refresh" title="{:__('Refresh')}" ><i class="fa fa-refresh"></i> </a>
                        <a href="javascript:;" class="btn btn-success btn-edit btn-disabled disabled {:$auth->check('sale/callback/edit')?'':'hide'}" title="{:__('单个派单')}" ><i class="fa fa-pencil"></i> {:__('查看明细')}</a>
                    	   
                    </div>
                    <table id="table" class="table table-striped table-bordered table-hover table-nowrap"
                           data-operate-edit="{:$auth->check('sale/callback/edit')}" 
                           
                           width="50%">
                    </table>
                </div>
            </div>
        </div>

