<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Log_code')}:</label>
        <div class="col-xs-12 col-sm-2">
            <input id="c-log_code" class="form-control" name="row[log_code]" type="text" value="{$row.log_code|htmlentities}">
        </div>
    
        <label class="control-label col-xs-12 col-sm-1">{:__('Log_type')}:</label>
        <div class="col-xs-12 col-sm-2">
            <input id="c-log_type" class="form-control" name="row[log_type]" type="text" value="{$row.log_type|htmlentities}">
        </div>

        <label class="control-label col-xs-12 col-sm-1">{:__('Log_date')}:</label>
        <div class="col-xs-12 col-sm-2">
            <input id="c-log_date" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[log_date]" type="text" value="{:$row.log_date?datetime($row.log_date):''}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Log_user_name')}:</label>
        <div class="col-xs-12 col-sm-2">
            <input id="c-log_user_name" class="form-control" name="row[log_user_name]" type="text" value="{$row.log_user_name|htmlentities}">
        </div>
    
        <label class="control-label col-xs-12 col-sm-1">{:__('Log_address')}:</label>
        <div class="col-xs-12 col-sm-2">
            <input id="c-log_address" class="form-control" name="row[log_address]" type="text" value="{$row.log_address|htmlentities}">
        </div>
  
        <label class="control-label col-xs-12 col-sm-1">{:__('Log_tel')}:</label>
        <div class="col-xs-12 col-sm-2">
            <input id="c-log_tel" class="form-control" name="row[log_tel]" type="text" value="{$row.log_tel|htmlentities}">
        </div>
    </div>
 
    
    
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Log_operator')}:</label>
        <div class="col-xs-12 col-sm-2">
            <input id="c-log_operator" class="form-control" name="row[log_operator]" type="text" value="{$row.log_operator|htmlentities}">
        </div>
        
    
        <label class="control-label col-xs-12 col-sm-1">{:__('Log_saleman')}:</label>
        <div class="col-xs-12 col-sm-2">
            <input id="c-log_saleman" class="form-control" name="row[log_saleman]" type="text" value="{$row.log_saleman|htmlentities}">
        </div>
        <label class="control-label col-xs-12 col-sm-1">{:__('Log_callbacker')}:</label>
        <div class="col-xs-12 col-sm-2">
            <input id="c-log_callbacker" class="form-control" name="row[log_callbacker]" type="text" value="{$row.log_callbacker|htmlentities}">
        </div>
    </div>
    
    
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Log_valuation')}:</label>
        <div class="col-xs-12 col-sm-2">
            <input id="c-log_valuation" class="form-control" name="row[log_valuation]" type="text" value="{$row.log_valuation|htmlentities}">
        </div>
   
        <label class="control-label col-xs-12 col-sm-1">{:__('Log_valuation_star')}:</label>
        <div class="col-xs-12 col-sm-2">
            <input id="c-log_valuation_star" class="form-control" name="row[log_valuation_star]" type="text" value="{$row.log_valuation_star|htmlentities}">
        </div>
        <label class="control-label col-xs-12 col-sm-1">{:__('Log_water_gage')}:</label>
        <div class="col-xs-12 col-sm-2">
            <input id="c-log_water_gage" class="form-control" name="row[log_water_gage]" type="text" value="{$row.log_water_gage|htmlentities}">
        </div>
    </div>
    <div class="form-group">
    <label class="control-label col-xs-12 col-sm-2">{:__('Log_remark')}:</label>
        <div class="col-xs-12 col-sm-3">
            <input id="c-log_remark" class="form-control" name="row[log_remark]" type="text" value="{$row.log_remark|htmlentities}">
        </div>
        <label class="control-label col-xs-12 col-sm-1">{:__('Log_status')}:</label>
        <div class="col-xs-12 col-sm-6">
            
            <div class="radio">
            {foreach name="logStatusList" item="vo"}
            <label for="row[log_status]-{$key}"><input id="row[log_status]-{$key}" name="row[log_status]" type="radio" value="{$key}" {in name="key" value="$row.log_status"}checked{/in} /> {$vo}</label> 
            {/foreach}
            </div>

        </div>
    </div>
    <div class="form-group">
        
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Log_callback')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-log_callback" class="form-control " rows="2" name="row[log_callback]" cols="50">{$row.log_callback|htmlentities}</textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Log_log')}:</label>
        <div class="col-xs-12 col-sm-8">
        		<textarea id="c-log_log" class="form-control " rows="4" name="row[log_log]" cols="50">{$row.log_log|htmlentities}</textarea>  
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Log_pic')}:</label>
        <div class="col-xs-12 col-sm-8"  >
            <div class="input-group">
                <input id="c-log_pic" readonly="readonly" class="form-control" size="50" name="row[log_pic]" type="text" value="{$row.log_pic|default=''}">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button"  id="faupload-question_files" class="btn btn-danger plupload" data-input-id="c-log_pic" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" capture="camera" data-multiple="true" data-preview-id="p-log_pic"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
  
                </div>
                <span class="msg-box n-right" for="c-log_pic"></span>
            </div>
            <ul class="row list-inline faupload-preview" id="p-log_pic"></ul>
        </div>
    </div>
    
    
</form>
